
body {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 25rem;
    padding: 5rem;
}

.wrapper {
    justify-items: center;
}

.poem {
    padding: 2rem;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
}

.poem ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
    line-height: minmax(0.5em, 1em);
}

.poem ul li {
    padding-block: 0.5em;
}

.poem h1 {
    margin-bottom: 0;
}

.poem h2 {
    font-weight: lighter;
    font-size: 1.2em;
    font-style: italic;
}

.poem p {
    margin-bottom: 0em;
}

.poem a {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
    text-transform: uppercase;
}